.rootbody{
    min-height: 100vh;
}
.blog-container{
    border: 2px solid black;
    margin: 190px;
    border-radius: 40px;
}
input {
    padding: 9px;
    width: 100%;
}

.Title , .Description, .Image{
    padding: 45px;
}
.blog-submit button{
    padding: 11px 27px;
    position: relative;
    bottom: 27px;
    left: 45%;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(45deg, #61dafb, #fff8f8);
}
input[type="submit"] {
    width: fit-content;
    position: absolute;
    top: 58px;
}

