.top{
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 60px;
    background-color: rgba(34, 30, 31, 1) !important;
    color: rgba(255,255,255,.85)!important;
}

.top .top-text{
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-block;
    position: absolute;
    color: white;
    top: 28%;
    left: 15%;
}
.top .top-logo{
    display: inline-block;
    position: absolute;
    left: 12%;
    top: 17%;
}
.top-login{
    display: inline-block;
    position: absolute;
    right: 14%;
    border-radius: 4px;
    background: #05c2fcfc;  
    top: 30%;
    border: 1px solid;

}
.top-addblog{
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 25%; 
}
.top-profile{
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 20%;
}
.top-login button, .top-profile button, .top-addblog button{
    padding: 5px 13px;
    background: inherit;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}
.top-profile button:focus,.top-addblog button:focus {
    padding-bottom: 17.5px;
    border-bottom: 2px solid;
}